# Servidor
PORT=
NODE_ENV=

# Banco de dados
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# Serviços externos
USERS_SERVICE_URL=
PRODUCTS_SERVICE_URL=
PAYMENTS_SERVICE_URL=

# RabbitMQ
RABBITMQ_URL=
RABBITMQ_QUEUE=
RABBITMQ_EXCHANGE=

PAYMENT_GATEWAY_URL=
PAYMENT_GATEWAY_API_KEY=